config = {
    ["uid"] = 1000,
    ["gid"] = 1000,

    ["tun"] = {
        ["inet_name"] = "irc%d",
        ["local_ip" ] = "192.168.64.1",
        ["remote_ip"] = "192.168.64.2"
    },

    ["irc"] = {
        ["threads"]  = 2,
        ["netid"]    = "dsk",
        ["network"]  = "irc.freenode.net",
        ["password"] = "",
        ["port"]     = 6697,
        ["nick"]     = "ipoirc%d",
        ["channel"]  = "##ipoirc-test"
    }

}